body {
    background-color: whitesmoke;
    font-family: "Lato", sans-serif;
}

#contenedor {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#contenedor-flex-column {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#subcontenedor {
    display: flex;
    padding: 10px;
}
#contenedor-p p {
    padding-left: 30px;
}

#titus-prim {
    padding-left: 30px;
    font-size: 25px;
    font-weight: bold;

}

#img-flex {
    align-items: center;
    justify-content: center;
    width: 80%;
}

#contenedor-p {
    width: 75%;
}

#contenedor-img {
    align-items: center;
    display: flex;
}

#header-img {
    width: 40%;
}

iframe {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}

#precio {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#precio p {
    line-height: 1.5;
}

#precio #titus {
    background-color: gainsboro;
}

#submit {
    background-color: gold;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding-left: 13px;
    padding-right: 13px;
}

#form {
    text-align: center;
}

ul {
    list-style-type: note;
    margin: 0;
    padding: 0;  
}

li {
    display: inline;
    float: right;
}

a {
    display: block;
    padding: 8px;
}

#header {
    position: fixed;
}